@CHARSET "UTF-8";

#calculator {
	width:364px;
	height:500px;
}

#calculator .plashka-top {
	width:364px;
	height:37px;
	background:url(/theme/img/calc/plashka-top.png);
}

#calculator .plashka-top .title {
	background:url(/theme/img/calc/icon.png) left 7px no-repeat;
	font-size:24px;
	color:#fff;
	margin:0 0 0 25px;
	padding:4px 0 0 35px;
	height:33px;
}

#calculator .plashka-body {
	width:314px;
	height:362px;
	background:#ebebeb;
	padding:22px 25px 23px 25px;
}

#calculator .plashka-body .result {
	width:314px;
	height:52px;
	position:relative;
	margin:0 0 22px 0;
}

#calculator .plashka-body .result .result-container {
	width:314px;
	height:52px;
	position:absolute;
	text-align:right;
	background:url(/theme/img/calc/result-glass.png) left top no-repeat;
}

#calculator .plashka-body .result .result-container #result {
	padding:3px 10px 0 0;
	font-size:40px;
	color:#585959;
	display:block;
	float:right;
}

#calculator .plashka-body .result .result-container .kg {
	padding:12px 10px 0 0;
	font-size:28px;
	color:#585959;
	display:block;
	float:right;
}

#calculator .plashka-body .operand {
	width:284px;
	height:266px;
	background:url(/theme/img/calc/operand.png) left top no-repeat;
	padding:12px 15px;
}

#calculator .plashka-body .operand .radio {
	margin:10px 0 0 0;
}

#calculator .plashka-body .operand .radio .radio_item {
	float:left;
	margin:0 10px 0 0;
}

#calculator .plashka-body .operand .radio label {
	float:left;
	margin:0 15px 0 0;
}

#calculator .plashka-body .operand .radio .product_type_select {
	margin:5px 0 10px 0;
}

#calculator .plashka-body .operand .radio .product_type_select span {
	display:block;
	font-size:12px;
	margin:0 0 5px 0;
}

#calculator .plashka-body .operand .radio .product_type_select select {
	width:284px;
}


#calculator .plashka-body .operand .select {
	margin:0 0 5px 0;
	
}

#calculator .plashka-body .operand .select span {
	display:block;
	font-size:12px;
	margin:0 0 5px 0;
}

#calculator .plashka-body .operand .select select {
	width:284px;
}

#calculator .plashka-bottom {
	width:364px;
	height:56px;
	background:url(/theme/img/calc/plashka-bottom.png);
	text-align:center;
}

#calculator .plashka-bottom a {
	display:block;
	font-size:24px;
	color:#2685c3;
	padding:13px 0 0 0;
}


#calculator .dimentions {
	width:284px;
	margin:5px 0 0 0;
}

#calculator .dimentions .title {
	color:#2685c3;
	font-size:16px;
	margin:0 0 5px 0;
}

#calculator .dimentions .element {
	width:284px;
	margin:0 0 5px 0;
}

#calculator .dimentions .element .title {
	color:black;
	font-size:11px;
	margin:0 8px 0 0;
	float:left;
	display:block;
	width:91px;
	white-space: nowrap;
}

#calculator .dimentions .element input {
	width:130px;
	margin:0 10px 0 0;
}

#calculator .dimentions .element .dim {
	
}




